@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 100%;
  margin: 12px;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #0d0b41;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px background-color inset;
  box-shadow: 0 0 0px 1000px background-color inset;
}

.search-input form::-webkit-input-placeholder {
  color: rgba(172, 165, 156, 0.63);
}

.search-input form::-moz-placeholder {
  color: rgba(172, 165, 156, 0.63);
}

.search-input form::placeholder {
  color: rgba(172, 165, 156, 0.63);
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.msg {
  color: red;
}

#previous-search {
  visibility: hidden;
  margin-left: 15px;
}

.search-bar form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-bar form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(211, 39, 62, 0.836);
  margin-top: 0;
  margin-left: 15px;
}

.search-bar form input::placeholder {
  color: white;
}

.search-bar form input {
  font-size: 1.25rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 8px auto;
  justify-content: center;
}

.ajax-container {
  width: 100%;
  visibility: hidden;
  margin-top: 30px;
}

.location-date {
  width: 100%;
  display: block;
  font-size: 1.5em;
}

.weather-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Current General */
.current-general {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.current-general__icon-container {
  text-align: center;
}

.current-general__icon {
  width: 6em;
}

.current-general__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  font-size: 3.5em;
  font-weight: 300;
}

.current-general__icon-description {
  font-size: 1.25em;
}

/*Current stats*/
.current-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  font-size: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Next 5*/
.next-5 {
  width: 100%;
  margin-top: 1em;
}

.next-5__container {
  display: flex;
  flex-wrap: wrap;
}

.next-5__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.19em;
  text-align: center;
}

.next-5__label {
  font-size: 0.83em;
}

.next-5__date,
.next-5__high,
.next-5__low,
.next-5__icon,
.next-5__rain,
.next-5__wind {
  width: 33.33333%;
  font-size: 0.95em;
}

.next-5__date,
.next-5__high,
.next-5__low {
  margin-bottom: 0.6em;
}

.visible {
  visibility: visible;
}

/*Media queries*/
@media screen and (min-width: 450px) {
  .next-5__date,
  .next-5__high,
  .next-5__low,
  .next-5__icon,
  .next-5__rain,
  .next-5__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }

  .next-5__date {
    order: -2;
  }

  .next-5__icon {
    order: -1;
  }

  .current-stats {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 385px) {
  .search-bar form button {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (min-width: 920px) {
  .main-container {
    width: 880px;
    margin: 8px auto;
  }
}

@media screen and (min-width: 700px) {
  .current-stats {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .current-general,
  .current-stats {
    width: 50%;
  }
}
